body{
    text-align: center;
}
.div p{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hijo_directo > p{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 + p {
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 ~ p {
    color: purple;
    font-family: cursive;
}
.section{
    height: 1000px;
    width: 1000px;
}
.card {
    margin: 0 auto;
    border: 5px solid black;
    height: 60%;
    width: 40%;
}